streamlit==1.32.0
requests
pandas
plotly
numpy
lxml
bs4
openpyxl
tradingview-datafeed
altair
streamlit>=1.33




requests>=2.31



altair>=5.0
xlsxwriter>=3.1
streamlit==1.33.0

pandas==2.1.4
numpy==1.26.4

requests==2.31.0
xlsxwriter==3.1.9

rich==13.7.1
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.17.2

